<h1>ADD PRODUCTS</h1>
        <form method="POST" action="/addBuys" class="cont">
            <div>
                <label for="buyName">Name</label>
                <input name="name" type="text" id="buyName" placeholder="name of product">
            </div>
            <div>
                <label for="buyAmount">Amount</label>
                <input name="amount" type="number" id="buyAmount" placeholder="how many products">
            </div>
            <div>
                <label for="buyCategory">Category</label>
                <input name="category" type="text" id="buyCategory" placeholder="which category">
            </div>
            <button type="submit">Submit</button>
        </form>