<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='style.css' >
    </head>

    <body>
        <h1 class='title'>LANDING.hbs is this page</h1>
        <h2>Current products</h2>
        <div class="cont">
            {{#each stuff}}
                {{> info this}}
            {{/each}}
        </div>
        
    </body>
</html>